/* https://www.cssportal.com/css-flexbox-generator/ */

body {
	margin:0;
}
h2 {
	font-family: Arial, sans-serif;
}
.divtop {
	border:1px;
	border-bottom-style:solid;
	width:100vw;
	padding:5px;
}

.divsubtop {
	border-bottom: 1px solid black; /* remove after testing */
}

.searchtop {
	width:24em;
}
.buttontop {
	width:12em;
	margin-left:15px;
}
.buttontop2 {
	width:7em;
}
.divmain {
	display:flex;
	justify-content: center;
}
.divmaintop {
	/* border:1px solid;  For testing purposes*/
	height:50px;
	text-align:center;
	/* margin: 0 auto; Old way of centering*/
	position:absolute;
	left:0;
	right:0;
}
.divcontent {
	border:1px solid;
	position:absolute;
	left:0;
	right:0;
}

hr {
	margin: 0em;
}

h2 {
	margin-bottom: 0em;
}