/* https://www.cssportal.com/css-flexbox-generator/ */

body {
	margin:0;
}
h2 {
	font-family: Arial, sans-serif;
}
.divtop {
	border:1px;
	border-bottom-style:solid;
	display:flex;
	padding:5px;
}

.divsubtop {
	/*border-bottom: 1px solid black; /* remove after testing */
}

.searchtop {
	width:24em;
}
.buttontop {
	width:12em;
	margin-left:15px;
}
.buttontop2 {
	width:7em;
}
#divmain {
	border:1px solid;
	margin:50px;
	height:80vh;
	display:grid;
	grid-template-areas:
		'header header'
		'main main'
		'news costs';
	grid-template-rows: 15% 65% 20%;
}
.divmaintop {
	grid-area: header;
	border-bottom:1px solid;
	text-align:center;
}
.divmaincontent {
	grid-area: main;
	text-align:center;
}
.divmainnews {
	grid-area: news;
	border-top:1px solid;
	border-right:1px solid;
	text-align:center;
}
.divmaincosts {
	grid-area: costs;
	border-top:1px solid;
	text-align:center;
}

hr {
	margin: 0em;
}

h2 {
	margin-bottom: 0em;
}